// Clearfix via https://github.com/markdotto/Preboot.less/blob/master/bootstrap.less
.clearfix {
  zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
  }
}

body {
  text-align: center;
  background: #222;
  font-family: arial, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

#stage {
  position: relative;
  width: 800px;
  height: 420px;
  margin:40px auto 20px;
  background: #111;
  border: 1px solid #444;
  color: #777;
  // disable selecting (TODO doesn't work in IE?)
  // see http://stackoverflow.com/questions/765224/remove-selection-using-javascript
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#logo-wrap {
  .center;
  margin-top: -22.5px;
  margin-left:-147px;
}

#loading {
  margin-top: 205px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

#click-wrap {
  .center;
  top:87%;
  margin-left: -352/2px;
}
